<% 
let genres = ['Comedy', 'Sci-fi', 'Drama', 'Action', 'Adventure', 'Horror', 'Thriller', 'Romance', 'Western']
%>

<%- include('partials/header') %>

<main>
    <div class="container">
        <div class="row">

    <% genres.forEach((genre) =>{ %>
        <div class="col-lg-4 col-sm-12">
            <div class="movie-genres">
                <h2><%= genre %></h2>
                <img src="/images/<%= genre %>.jpg" alt="<%= genre %>" class="movie-genre-img">
                <a href="/genres/<%= genre %>"><button class="genre-btn"><%= genre %></button></a>
            </div>
        </div>
            <% }) %>
                <div class="last-updates-div col-lg-6 col-sm-12">
                    <h2 class="last-updates-title">Last uploads</h2>
                    <img src="images/movies-poster-last-updates.jpg" alt="last-updates-img" class="last-updates-img">
                    <button class="last-updates-btn" id="last-updates-btn">Last uploads</button>
                </div>
                <div class="row last-updates-row-none" id="last-updates-row">
                    <% let lastThreeMovies = movies.slice(-3)
                        lastThreeMovies.forEach((movie)=> { %>
                        <div class="last-updates-div col-lg-6">
                            <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/images/<%= movie.photo %>" class="img-fluid rounded-start" alt="Movie Poster">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= movie.name %>
                                        </h5>
                                        <br>
                                        <p class="card-text">
                                            <i class="bi bi-eye" style="color: gold" ></i> Genre: <%= movie.genre.join(", ") %>
                                        </p>
                                        <br>
                                        <p class="card-text">
                                            <small>
                                                <i class="bi bi-star" style="color: gold"></i> Rating: <%= movie.rating %>
                                            </small>
                                        </p>
                                        <br>
                                        <p class="card-text">
                                            <small>
                                                <i class="bi bi-calendar" style="color: gold"></i> Year: <%= movie.year %>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <% }) %>
                </div>
            </div>
    </div>  
</main>
<script>
    const lastUpdatesBtn = document.getElementById('last-updates-btn')
    lastUpdatesBtn.addEventListener('click', showLastUpdates)

    function showLastUpdates() {
        const lastUpdatesRow = document.getElementById('last-updates-row')
        if (lastUpdatesRow.className == "row last-updates-row-none") {
            lastUpdatesRow.className = "row last-updates-row-block"
            lastUpdatesRow.scrollIntoView()
        } else {
            lastUpdatesRow.className = "row last-updates-row-none"
        }
    }
</script>
  
<%- include('partials/footer') %>